@mixin tablet() {
    @media (max-width: (680px)) {
        @content;
    }
}
@mixin smartphone() {
    @media (max-width: (480px)) {
        @content;
    }
}

@mixin desktop_collapsed() {
    @media (max-width: ($width-main + $width-nav)) {
        @content;
    }
}

@mixin desktop_collapsed_lv2() {
    @media (max-width: ($width-main + $width-nav-collapsed)) {
        @content;
    }
}

@mixin desktop_collapsed_lv3() {
    @media (max-width: (1004px)) {
        @content;
    }
}

@mixin desktop_collapsed_lv4() {
    @media (max-width: (710px)) {
        @content;
    }
}

@mixin elipse_by_line($line_number) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line_number;
}

@mixin hide_scrollbar() {
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox
    &::-webkit-scrollbar {
        display:none; // Chrome, Safari
    }
}
