$width-nav: 275px;
$width-nav-collapsed: 88px;
$width-main: 990px;
$width-main-collapsed-lv2: 920px;
$width-main-collapsed-lv3: 600px;
$width-body: 600px;
$width-side: 350px;
$width-side-collapsed: 290px;

$color-primary: rgb(29, 161, 242);
$color-background: #fff;
$color-background-inner: rgb(247, 249, 250);
$color-background-thin: rgb(247, 249, 250);
$color-background-hover: rgba(0, 0, 0, 0.03);
$color-font: black;
$color-font-thin: rgb(91, 112, 131);
$color-border: rgb(235, 238, 240);

$font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;