<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
    <div class="wrapper">
        {%- include header.html -%}
        <main>
            {%- if page.layout == "home" -%}
            {{ content }}
            {%- else -%}
            <div class="main-primary-container">
                <div class="content-header">
                    <div class="back-icon" onclick="javascript:history.back();">
                        {%- include arrow_left_icon.html -%}
                    </div>
                    <span class="content-title">{{ page.title | default: "" }}</span>
                    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                    <span class="content-date">{{ page.date | date: date_format }}</span>
                </div>
                {{ content }}
            </div>
            {%- endif -%}
            <div class="main-secondary-container">
                <div class="main-secondary-inner">
                    {%- if site.global.twitter.show_twitter_embed_timeline -%}
                    <div class="twitter-embed">
                        <a data-tweet-limit="3" class="twitter-timeline" href="https://twitter.com/{{ site.global.twitter.target_id }}?ref_src=twsrc%5Etfw">Tweets
                            by realDonaldTrump</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    {%- endif -%}
                </div>
            </div>
        </main>
        {%- include footer.html -%}
    </div>
</body>

</html>